@media screen and (min-width: 400px) {
    .container {
        max-width: 100%;
        padding: 0 2rem;
    }

    nav {
        grid-template-columns: repeat(3, auto);
    }

    .nav__menu {
        width: 300px;
    }

    .nav__btn {
        display: flex;
        gap: 1rem;
    }

    .nav__btn a {
        padding: 7px 16px 8px 16px;
        border: 1px solid #C90000;
        border-radius: 100px;
        color: #C90000;
    }

    .nav__btn a:last-child {
        background: #C90000;
        color: #FFF;
    }


    /* ------------------------------Finish Nav------------------------ */
    .header__right {
        max-width: 450px;
    }

    .header__discount__number a {
        padding: .7rem 1rem;
    }

    .header__discount__btn {
        padding: .7rem 1.5rem;
    }

    /*  ----------------------------------------Finish Header-------------------------------------- */
    .main__content__menu {
        grid-template-columns: auto auto;
        gap: 20px;
        padding: 2rem 0;
    }

    .main__menu__btn {
        width: 160px;
    }

    .product {
        max-width: 370px;
    }

    .product__img {
        max-width: 90%;
    }

    .banner {
        max-width: 450px;
        width: 100%;
        padding: 1.5rem 0 0 1.5rem;
    }

    .banner__img {
        width: 60%;
    }

    .install__buttons {
        gap: 10px;
    }

    footer {
        width: 100%;
        background: khaki;
        display: grid;
    }
}

