@media screen and (min-width: 992px) {
    nav {
        grid-template-columns: auto auto auto ;
    }

    .nav__logo {
        width: 65px;
        height: 65px;
    }

    .nav__menu {
        width: 100%;
    }

    .nav__menu ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .nav__menu__list:first-child .nav__menu__item {
        color: #C90000;
    }

    .nav__menu__item {
        padding: 10px 15px;
        color: #7D7C7C;
        cursor: pointer;
    }

    .nav__btn {
        justify-content: right;
    }

    .nav__bar {
        display: none;
    }
/*    !* ------------------------------Finish Nav------------------------ *!*/
    header{
        display: grid;
        grid-template-columns: 3fr 4fr;
    }
    .header__left{
        text-align: left;
        /*margin-top: 5rem;*/
        padding: 5rem 0;
        display: flex;
        flex-direction: column;
    }
    .header__title{

    }
    .header__desc{
        padding: 0 10px;
    }
    .header__right {
        max-width: 600px;
    }
    .header__message{
        top: 0;
        transform: translateX(-70%);
    }
    .message__delivery{
        border-radius: 50px  50px 0 50px;
    }
    .show-laptop{
        display: block;
    }
    .hidden-laptop{
        display: none;
    }
    .header__content__discount {
        margin: 20px 0;
    }
/*!*-----------------------------Finish Header---------------------------------*!*/
    .main__content__menu {
        grid-template-columns: auto auto auto auto auto;
        gap: 30px;
    }

    .products {
        grid-template-columns: auto auto auto;
        gap: 30px;
    }

    .banners{
        gap: 20px;
        grid-template-columns: repeat(3,auto);
    }
    .banner{
        max-width: 370px;
    }

    .curve{
        display: flex;
        border-radius: 10px 500px 500px 10px;
        justify-content: space-between;
        flex-direction: row-reverse;
        width: auto;
        max-width: 1000px;
    }
    .propaganda__subtitle{
        padding:  0 100px;
    }
}
