@media screen and (min-width: 568px) {
    body{
        background: #FFF;
    }
    .container {
        max-width: 1070px;
    }
    .products{
        grid-template-columns: auto auto;
        gap: 30px 20px;
        margin: 0 auto;
    }
    .product{
        max-width: 430px;
    }
    .banners{

    }
    .banner{
        max-width: 100%;
    }
}

